.menus{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.menu-list{
    line-height: 95px;
    /* padding: 0 10px; */
}

.menu-list:hover{
    color: orange;
}

.detail{
    position: fixed;
    top: 95px;
    left: 0;
    width: 50vw;
    height: 60vh;
    background-color: #fff;
    z-index: 99999999 !important;
}

.left{
    top: 95px;
    left: 0;
}

.right{
    top: 95px;
    left: 0;
    transform: translateX(50vw);
}
